<div class="gamepad">
  <div class="triggers">
    <btn class="btn l">L</btn>
    <btn class="btn r">R</btn>
  </div>
  <div class="mainpad">
    <div class="dpad">
      <btn class="btn up">&uarr;</btn>
      <btn class="btn right">&rarr;</btn>
      <btn class="btn down">&darr;</btn>
      <btn class="btn left">&larr;</btn>
    </div>
    <div class="options">
      <btn class="btn select">Select</btn>
      <btn class="btn start">Start</btn>
    </div>
    <div class="commands">
      <btn class="btn x">X</btn>
      <btn class="btn a">A</btn>
      <btn class="btn b">B</btn>
      <btn class="btn y">Y</btn>
    </div>
  </div>
</div>
