$primary: #0c0c3c;
$secondary: #f8fbfd;
$tertiary: #7d7d7d;
$black: #000;
$white: #fff;
$base-font: 24px;
$portrait: "only screen and (max-width: 414px)";
$landscape: "only screen and (min-width: 415px)";

@font-face {
  font-family: 'Exo 2';
  src: url('../../../assets/fonts/Exo2-Regular.ttf');
}

:root {
  box-sizing: border-box;
  font-size: $base-font;
  height: 100%;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;
  min-height: 100%;
}

.btn {
  cursor: pointer;
}

// HEADER

.header {
  background-color: $primary;
  color: $white;
  height: 3.5em;
  overflow-y: hidden;
  padding: .5rem;
  position: absolute;
  transition: height 300ms ease-in-out;
  width: 100vw;
  z-index: 1;
  @media #{$portrait} {
    &.show {
      height: 7em;
    }
  }
  a {
    color: $white;
    text-decoration: none;
  }
  h1 {
    font-size: 2rem;
    font-style: italic;
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    @media #{$landscape} {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      li {
        display: inline;
        margin-left: 1em;
        .active {
          box-shadow: 0px -4px 0px #0097a7 inset;
        }
      }
    }
  }
}

.btn.menu {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  @media #{$landscape} {
    display: none;
  }
}

// CONTENT

.content {
  flex: 1;
  margin: auto;
  padding: .75rem;
  padding-top: 4rem;
}

// FOOTER

.footer {
  background-color: $primary;
  color: $white;
  font-size: .9rem;
  padding: .45em;
  text-align: center;
  z-index: 1;
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// CHAT

.chatroom {
  height: calc(100vh - 7rem);
  position: relative;
  form {
    bottom: 0;
    position: absolute;
    input[type="text"] {
      background-color: lighten($primary, 60%);
      width: calc(100vw - 5.8rem);
    }
    input[type="submit"] {
      border-radius: 0.5em;
      background-color: $primary;
      color: $white;
      width: 4rem;
    }
  }
  ul {
    font-size: 1rem;
    height: calc(100vh - 9rem);
    list-style-type: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0.25em;
  }
}

// GAMEPAD

.gamepad {
  display: flex;
  flex-direction: column;
  position: relative;
  .btn {
    background-color: $primary;
    border-radius: 0.3em;
    border-bottom: 0.15em solid $tertiary;
    color: $white;
    font: 1rem;
    padding: 0.2em;
    &:active {
      border-bottom: 0.1em solid $tertiary;
      transform: translateY(0.05em);
    }
    &.l, &.r {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    &.up, &.down, &.x, &.a, &.b, &.y {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
  }
  .triggers {
    display: flex;
    justify-content: space-between;
  }
  .mainpad {
    display: flex;
    height: calc(100vh - 9rem);
    justify-content: space-around;
  }
  .dpad {
    position: relative;
    .btn {
      position: absolute;
    }
    .up {
      bottom: 4em;
      left: 0;
    }
    .right {
      bottom: 2em;
      left: 2em;
    }
    .down {
      bottom: 0;
      left: 0;
    }
    .left {
      left: -2em;
      bottom: 2em;
    }
  }
  .options {
    display: flex;
    .btn {
      align-self: flex-end;
      margin: 0.5em;
    }
  }
  .commands {
    position: relative;
    .btn {
      position: absolute;
    }
    .x {
      bottom: 4em;
      right: 0;
    }
    .a {
      bottom: 2em;
      right: -2em;
    }
    .b {
      bottom: 0;
      right: 0;
    }
    .y {
      bottom: 2em;
      right: 2em;
    }
  }
}

// KEYBOARD
.keyboard {
  display: flex;
  height: 4em;
  justify-content: space-around;
  .btn {
    border-bottom: 0.20em solid $tertiary;
    border-left: 0.20em solid $tertiary;
    border-radius: 0.2em;
    font-size: 1rem;
    height: 1.5em;
    position: absolute;
    text-align: center;
    width: 1.5em;
    &.active {
      border-bottom: 0.1em solid $tertiary;
      border-left: 0.1em solid $tertiary;
      transform: translateY(0.05em);
    }
  }
  .wasd {
    position: relative;
    .w {
      left: .1em;
    }
    .a {
      left: -1.5em;
      top: 1.6em;
    }
    .s {
      left: .1em;
      top: 1.6em;
    }
    .d {
      left: 1.7em;
      top: 1.6em;
    }
    .q {
      left: -1.5em;
    }
    .e {
      left: 1.7em;
    }
  }
  .uhjk {
    position: relative;
    .u {
      left: .1em;
    }
    .h {
      left: -1.5em;
      top: 1.6em;
    }
    .j {
      left: .1em;
      top: 1.6em;
    }
    .k {
      left: 1.7em;
      top: 1.6em;
    }
  }
  .entershift {
    position: relative;
    .enter {
      width: 3em;
    }
    .shift {
      top: 1.6em;
      width: 3em;
    }
  }
}

// STREAM
#drone-stream canvas {
  border: 0.3em solid $primary;
  border-radius: 0.5em;
  height: 100%;
  margin-bottom: 1em;
  width: 100%;
}
