<div class="gamepad">
  <div class="triggers">
    <btn class="btn l">Q</btn>
    <btn class="btn r">E</btn>
  </div>
  <div class="mainpad">
    <div class="dpad">
      <btn class="btn up">W</btn>
      <btn class="btn right">D</btn>
      <btn class="btn down">S</btn>
      <btn class="btn left">A</btn>
    </div>
    <div class="options">
      <btn class="btn select">Enter</btn>
      <btn class="btn start">Shift</btn>
    </div>
    <div class="commands">
      <btn class="btn x">U</btn>
      <btn class="btn a">K</btn>
      <btn class="btn b">J</btn>
      <btn class="btn y">H</btn>
    </div>
  </div>
</div>
