<div id="drone-stream"></div>
<keyboard class="keyboard">
  <div class="wasd">
    <btn class="btn w">W</btn>
    <btn class="btn a">A</btn>
    <btn class="btn s">S</btn>
    <btn class="btn d">D</btn>
    <btn class="btn q">Q</btn>
    <btn class="btn e">E</btn>
  </div>
  <div class="uhjk">
    <btn class="btn u">U</btn>
    <btn class="btn h">H</btn>
    <btn class="btn j">J</btn>
    <btn class="btn k">K</btn>
  </div>
  <div class="entershift">
    <btn class="btn enter">Enter</btn>
    <btn class="btn shift">Shift</btn>
  </div>
</keyboard>
<a id="download">Save image</a>
